*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    background-color: #f4f6f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: black;
    padding-top: 25px;
  }
  
  
  .chart {
    width: 900px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  }

  .submit-button{

    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 70px;
    
  }

  .input-field{
  /* border: 1px solid red; */
  padding: 1rem;

  }

  .title-2{

    margin-top: 30px;

  }